#!/bin/bash
data=$(hostname -f)
icon="$(echo "$data" | /usr/bin/identicon)"
# deNBI colours
color1="\033[38;5;25m"
color2="\033[38;5;39m"
clear="\033[0m"

line() {
	head -n $1 | tail -n 1
}



echo -e "${color1}      _       ${color2} _   _ ____ _____ ${clear}"
echo -e "${color1}     | |      ${color2}| \ | |  _ \_   _|${clear} $(line 1 <<< "$icon")"
echo -e "${color1}   __| | ___  ${color2}|  \| | |_) || |  ${clear} $(line 2 <<< "$icon")"
echo -e "${color1}  / _' |/ _ \ ${color2}| . ' |  _ < | |  ${clear} $(line 3 <<< "$icon")"
echo -e "${color1} | (_| |  __/_${color2}| |\  | |_) || |_ ${clear} $(line 4 <<< "$icon")"
echo -e "${color1}  \__,_|\___(_)${color2}_| \_|____/_____|${clear} $(line 5 <<< "$icon")"
echo "====================================================
Hostname..........: `hostname -f`
Release...........: {{ ansible_distribution }} Linux release {{ ansible_distribution_version }} ({{ ansible_distribution_release }})
Build.............: de.NBI Generic {{ build_tag }}
Build Date........: {{ ansible_date_time.iso8601 }}
Current user......: `whoami`
Load..............: `cat /proc/loadavg`
Uptime............: `uptime -p`
===================================================="
